/*Datos personales: Ana Calleja Ramon UO300568*/
/*Estilos para el layout del proyecto Gerona-Desktop*/

/*  HEADER Y NAVEGACIÓN  */
/* Especificidad 0-0-0-1 */
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.3rem 0.6rem; 
    flex-wrap: wrap; 
}

/* Especificidad 0-0-0-2*/
nav {
    display: flex;
    gap: 0.3rem; 
    flex-wrap: wrap; 
}

/* Especificidad 0-0-0-1*/
nav a {
    padding: 0px 5px;
}

/* ENCABEZADOS Y TEXTO */
/* Especificidad 0-0-0-1*/
h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

/* Especificidad 0-0-0-1 */
p {
  margin-top: 0.2rem;
}

/* Especificidad 0-0-0-5 */
main > section > article > p + p { /*Dentro de article -> poner fuente de otro color para destacar*/
    margin-bottom: 0.1rem;
    /* Advertencia: color de fondo heredado de body (#FFFFFF) - contraste verificado AAA */
}

/* Especificidad 0-0-0-2 */
article label {
    display: block;
}

/* Especificidad 0-0-0-2 */
form label {
    display: block;
    margin-bottom: 0.5rem;
}

/* MULTIMEDIA */
/* Especificidad 0-0-0-2 */
article img {
    width: 100%;
    max-width: 35.5rem;
    height: 19.5rem;
}

/* Especificidad 0-0-0-2 */
article video {
    width: 100%;
    max-width: 35.5rem;
    height: 19.5rem;
}

/* Especificidad 0-0-0-2 */
section svg {
    width: 100%;
    height: auto;
}

/* Especificidad 0-0-0-2 */
section > div { /* Uso del selector div para mapas dinámicos */
    width: 100%;
    height: 400px;
    margin-top: 1rem;
}

/*  TABLAS  */
/* Especificidad 0-0-0-1 */
caption{
    padding: 0.25rem;
}

/* Reglas para dispositivos móviles (320px a 799px)*/
@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad 0-0-0-1 */
    header {
        flex-direction: column; /* Redefinición flex-direction: row → column */
        justify-content: center; /* Redefinición align-items: center → flex-end */
    }

    /* Especificidad 0-0-0-1 */
    nav {
        flex-direction: column; 
        align-items: center;
        gap: 0.6rem; /* Redefinición gap: 0.3rem → 0.6rem (mejor disposición de nav en móviles) */
    }

    /* Especificidad 0-0-0-2 */
    header + p  {
        display: none;   /* Redefinición display: block → none (sin migas en móvil) */
    }

    /* Especificidad 0-0-0-1 */
    video {
        width: 100%;
        height: auto;
    }

    /* Especificidad 0-0-0-1 */
    audio {
        width: 100%;
    }
}
